In [26]:
# Import the dependencies.

import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter

import numpy as np
import pandas as pd
import datetime as dt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text, inspect

from flask import Flask, jsonify

#################################################
# Database Setup
#################################################

engine = create_engine("sqlite:///Resources/hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)

# Save references to each table
measurement = Base.classes.measurement
station  = Base.classes.station

# Create our session (link) from Python to the DB
session = Session(engine)
conn = engine.connect()

In [38]:
session = Session(engine)
conn = engine.connect()
stations_df = pd.read_sql("SELECT * FROM station WHERE station.station IN ( SELECT station FROM measurement )", conn)

# Close session
session.close()
    
col_names = stations_df.columns
station_return = []
for i in range(len(stations_df)):
    station_dict = {}
    for j in range(len(col_names)):
        station_dict[ col_names[j] ] = str(stations_df.iloc[ i , j])
    station_return.append( station_dict )

In [41]:
session = Session(engine)
    
    # Design a query to retrieve the last 12 months of precipitation data and plot the results. 
    # Starting from the most recent data point in the database.
latest_date = session.query(measurement.date).order_by(measurement.date.desc()).first()
latest_date = [ i for i in latest_date ][0]
    
    # Calculate the date one year from the last date in data set.
start_date = dt.datetime.strptime( latest_date, "%Y-%m-%d") - dt.timedelta(days = 365)
start_date = start_date.strftime("%Y-%m-%d")
    
    # Most active station
active_id = session.query( measurement.station ).group_by(measurement.station).order_by( func.count(measurement.station).desc() ).first()
active_id = [ i for i in active_id ][0]
    
    # last 12 monthes for most active station
active_temp = session.query(measurement.date, measurement.tobs).filter( measurement.station==active_id ).filter( measurement.date >= start_date ).all()
    
    # Close session
session.close()

In [ ]:
active_temp = pd.DataFrame(active_temp)

station_temp = {}   
for i in range( len(active_temp) ):
    station_temp[ active_temp.loc[i, "date"] ]=  active_temp.loc[i, "tobs"]

In [70]:
start = "2016-05-05"
end = "2016-05-10"

In [79]:
#### active station
    # Require data from DB
session = Session(engine)
    
    # require temperature within the date range
temp_data = session.query( func.min(measurement.tobs), func.avg(measurement.tobs) , func.max(measurement.tobs) ).\
    filter( measurement.date >= start ).filter( measurement.date <= end ).all()
    
    # Starting from the most recent data point in the database.
latest_date = session.query(measurement.date).order_by(measurement.date.desc()).first()
latest_date = [ i for i in latest_date ][0]
    
    # Starting from the most recent data point in the database.
earliest_date = session.query(measurement.date).order_by(measurement.date.asc()).first()
earliest_date = [ i for i in earliest_date ][0]
    
    # Close session
session.close()
    ####
# transfer TMIN, TAVG, and TMAX to list
temp_data = temp_data[0]
temp_data = [ i for i in temp_data ]

In [80]:
start_date = dt.datetime.strptime( start , "%Y-%m-%d")
end_date = dt.datetime.strptime( end, "%Y-%m-%d")
    
earliest_date = dt.datetime.strptime( earliest_date, "%Y-%m-%d")
latest_date = dt.datetime.strptime( latest_date, "%Y-%m-%d")
    
date_from = max( start_date , earliest_date)
date_to = min( end_date , latest_date)

In [81]:
date_from

datetime.datetime(2016, 5, 5, 0, 0)

In [82]:
date_to

datetime.datetime(2016, 5, 10, 0, 0)

In [84]:
print( date_from.date() )

2016-05-05

In [89]:
date_from

datetime.datetime(2016, 5, 5, 0, 0)

In [ ]:
date_from.strtime(  "%Y-%m-%d" )